header h1 {
    color:#4A1C40;
   
     font-size: 60px ;
     text-align: center ;
     
     }
     header img{
       
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
     height:350px ;
   }
   .na1{
     font-size: 30px ;
     line-height: 1.5;
     
   }
   .na2{
   font-size: 30px ;
     line-height: 1.5;
    
   }
     .na3{
       font-size: 30px ;
     line-height: 1.5;
    
     }
     .na4{
        font-size: 30px ;
     line-height: 1.5;
     }
      footer{
        background-color: #e798ae
      }
      #myTopTen
{
    margin-top: 15px;
}


#myTopTen ol
{
    background-color: rgba(161, 245, 203, 0.514);
    padding: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 20px;
}
#myTopTen ol li img 
{
    width: 30px;
    margin-left: 50px;
}
#work_experience h3 , #myTopTen h3
{
    font-size: 30px;
    text-shadow: 0 0 4px white;
}
#work_experience h3 , #myTopTen h3
{
    font-size: 30px;
    text-shadow: 0 0 4px white;
}
#work_experience ul li
{
    display: block;
    background-color: rgba(161, 245, 203, 0.514);
    padding: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 20px;
}

# work_experience1 h3 , #myTopTen h3
{
    font-size: 30px;
    text-shadow: 0 0 4px white;
}
#work_experience1 h3 , #myTopTen h3
{
    font-size: 30px;
    text-shadow: 0 0 4px white;
}
#work_experience1 ul li
{
    display: block;
    background-color: rgba(161, 245, 203, 0.514);
    padding: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 20px;
}